ul {
    list-style:lower-roman
}


























:root {
    font-size: 18px;
    font-family: Lora;
    line-height: 1.7;
    color: #333;
    background-color: #ccc1;
}

::selection {
    background-color: #00008b33;
    color: #00008b;
}

#wrapper {
    margin: 1rem auto 3rem;
    padding: 1rem 2rem;
    max-width: 60rem;
    border: 2px solid #3331;
    border-radius: .2rem;
    display: grid;
    grid-template-columns: 1fr 3fr .85fr;
    gap: 1rem 2rem;
    transition: .2 all ease-in-out;
    background-color: #fff;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    font-family: arvo;
    color: darkblue;
}

* {
    /* border: 1px solid #3331; */
    /* background-color: #3331; */
}

/* #wrapper > *, */
img {
    border: 1px solid #ccc;
    border-radius: 3px;
    filter: opacity(.58);
    transition: .1s all ease-in-out;
}

img:hover {
    filter: opacity(1);
    cursor: pointer;
}

header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

header img {
    margin-top: 1.8rem;
}

header h1 {
    text-align: center;
}

nav:hover {
    z-index: 999;
    overflow: visible;
}

nav {
    border-bottom: 1px solid #3332;
    font-size: .9rem;
    height: 1.67rem;
    overflow: hidden;
    /* text-align: center; */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
}

nav ul li:hover ul {
    transform: scaleY(1) translateY(.24rem);

}

ul li ul {padding-left: 0;}

/* nav:hover li:hover a:hover, */
nav ul > li {
    padding-left: 2rem;
}

nav ul > li:hover a,
nav li:hover > ul {
    background-color: #fafafa;
}

li:hover > ul a:hover {
    /* color: white; */

}

nav ul ul {
    list-style: none;
    background-color: white;
    /* z-index: 99999999999; */
    transform: scaleY(0);
    transition: .2s all ease-in-out;
    transform-origin: 0 0;
    border: 1px solid #ddd;
    border-top-width: 0;
    box-shadow: 0 10px 3px -5px #3334;
    padding-bottom: .5rem;
}

aside {
    font-size: .68rem;
}

aside article {
    margin-top: 2rem;
}

aside article:nth-of-type(2n) img {
    float: right;
    margin-right: 0;
    margin-left: .25rem;
}

main ol,
main ol *,
main ul,
main ul * {
    background-color: #3333330f;
    background-color: #00008b11;
}

footer ul {
    list-style: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer h1 {
    grid-column: 1/-1;
}

header,
nav,
footer {
    grid-column: 1/-1;
}

main > article > p:first-of-type::first-letter {
    font-size: 6rem;
    float: left;
    margin-top: -2.5rem;
    margin-right: 1.2rem;
    margin-bottom: -2.8rem;
    margin-left: -0.2rem;
    color: darkblue;
}

main figure {
    float: left;
    margin-left: 0;
}

figure {
    width: 30%;
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}

figure img {
    width: 100%;
}

figure:hover img {
    /* transform: scale(1.5); */
}

figcaption {
    font-size: .75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lists li {
    font-size: .85rem;
}

aside li {
    list-style: none;
}

aside ul {
    padding-left: 0.65rem;
}

.lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.copyright {
    grid-column: 1/-1;
    text-align: center;
    font-size: .8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2rem;
    color: #3333;
}

a {
    color: darkblue;
}

aside img {
    float: left;
    margin-right: .5rem;
}


footer li {
    font-size: .9rem;
}

.small {
    font-size: .75rem;
}

figure.right {
    margin-top: 0rem;
    float: right;
    margin-left: 1rem;
    /* margin-right: 0; */
}

.asideDos img {
    display: inline-block;
    /* margin-bottom: 1.3rem; */
    /* margin: 0 2.4rem .8rem; */
    margin-right: 0;
}

nav > ul {
    margin: 0;
    padding: 0;
}

footer h1 {
    border-bottom: 1px solid #3331;
}

footer img {
    border-radius: 50%;
}

footer li {
    padding-bottom: 0.5rem;
    line-height: 2;
}

@media (max-width: 55rem) {
    #wrapper {
        /* Add your styles here */
        background-color: #abc9;
        grid-template-columns: 1fr 4fr;
        margin: 0 auto;
        gap: 2rem;
        padding: 1.25rem;
    }

    :root {
        font-size: 16px;
    }

    body {
        margin: 0;
    }

    nav {
        font-size: .85rem;
    }

    header h1 {
        margin: 0;
        margin-top: 2rem;
    }

    .asideDos {
        display: none;
    }

    .lists {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }
}




@media (max-width: 40rem) {
    #wrapper {
        /* Add your styles here */
        background-color: #acb9;
        grid-template-columns: 1fr;
        margin: 0 auto;
        gap: .5rem;
        padding: 0.5rem;
    }

     h1 {
        font-size: 1.2rem;
    }

    aside div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 1rem;
    }

    footer {
        grid-template-columns: 1fr;
    }

    aside ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
    }
}